
'name': 'BaaN'
'comment': 'BaaN language'
'scopeName': 'source.bc'

'fileTypes': [
  'bc'
]


'patterns': [

  #Comments
  {
    'match': '\\|(.*)'
    'captures':
      '1':
        'name': 'punctuation.section.comment.baan'

    'name': 'comment.pipe.baan'
  }

  #All reserved words starting with #
  {
    'match': '\\s*(#define|#include|#error|#ident|#elif|#if|#line|#else|'      +
             '#ifdef|#pragma|#endif|#ifndef|#undef)\\s'

    'captures':
      '1':
        'name': 'constant.language.baan'
  }

  #Constants
  {
    'match': '\\b([A-Z\\.]+)\\s'
    'captures':
      '1':
        'name': 'constant.character.baan'
  }

  #Numbers for Integers and Doubles
  {
      'match': '\\b(([0-9]+\\.?[0-9]*)|(\\.[0-9]+))\\b'
      'name': 'variable.language.baan'
  }



  {
    'match': '(?<=\\s|^)'                                                      +
             '(long|double|string|float)'                                      +
             '(?=\\s|$)'
    'captures':
        '1':
            'name': 'variable.language.baan'
        '2':
            'name': 'keyword.control.baan'

    'name': 'meta.declaration.baan'
  }

  #Declarations with domain
  {
    'match': '\\b(domain)\\s+([a-zA-Z0-9_\.]+)\\s+([a-zA-Z0-9_\.]+)\\s+([a-zA-Z0-9_\.]+)'
    'captures':
        '1':
            'name': 'variable.language.baan'
        '2':
            'name': 'storage.type.function.baan'

    'name': 'meta.declaration.baan'
  }

  #Strings
  {
      'begin': '\"'
      'beginCaptures':
          '0':
              'name': 'punctuation.definition.string.begin.baan'
      'end': '\"'
      'endCaptures':
          '0':
              'name': 'punctuation.definition.string.end.baan'
      'name': 'string.quoted.single.baan'
  }

  #FunctionUsage
  {
      'begin': 'FunctionUsage'
      'beginCaptures':
          '0':
              'name': 'punctuation.definition.function.begin.baan'
      'end': 'EndFunctionUsage'
      'endCaptures':
          '0':
              'name': 'punctuation.definition.function.end.baan'
      'name': 'entity.name.section.baan'
  }

    #DllUsage
    {
        'begin': 'DllUsage'
        'beginCaptures':
            '0':
                'name': 'punctuation.definition.function.begin.baan'
        'end': 'EndDllUsage'
        'endCaptures':
            '0':
                'name': 'punctuation.definition.function.end.baan'
        'name': 'entity.name.section.baan'
    }

  #Keywords 1
  {
        'match': '(?<=\\s|^)'                                                  +
                 '(a:|abort.program[\\:]{0,1}|abort.transaction|'              +
                 'add.set[\\:]{0,1}|after.choice:|after.delete:|'              +
                 'after.display:|after.field:|after.form:|'                    +
                 'after.input:|after.layout:|after.program:|'                  +
                 'after.read:|after.receive.data:|after.report:|'              +
                 'after.rewrite:|after.skip.delete:|'                          +
                 'after.skip.rewrite:|after.skip.write:|'                      +
                 'after.update.db.commit:|after.write:|after.zoom:|'           +
                 'ask.helpinfo|ask.helpinfo:|b:|'                              +
                 'before.checks:|before.choice:|before.delete:|'	             +
                 'before.display:|before.display.object:|'				             +
                 'before.field:|before.form:|before.input:|'                   +
                 'before.layout:|before.new.object:|before.print:|'            +
                 'before.program:|before.read:|before.report:|'                +
                 'before.rewrite:|before.write:|before.zoom:|'                 +
                 'bms[\\:]{0,1}|c:|calculator[\\:]{0,1}|calendar:|'            +
                 'change.frm[\\:]{0,1}|change.order[\\:]{0,1}|'  		           +
                 'check.input:|choice.start.set:|'	                           +
                 'choice.first.view:|choice.next.view:|'				               +
                 'choice.prev.view:|choice.last.view:|calendar|'               +
                 'choice.def.find:|choice.find.data:|'                         +
                 'choice.first.set:|choice.next.set:|'                         +
                 'choice.display.set:|choice.prev.set:|'                       +
                 'choice.rotate.curr:|choice.last.set:|'                       +
                 'choice.add.set:|choice.update.db:|'                          +
                 'choice.dupl.occur:|choice.recover.set:|'                     +
                 'choice.mark.delete:|choice.mark.occur:|'                     +
                 'choice.change.order:|choice.modify.set:|'                    +
                 'choice.print.data:|choice.create.job:|'                      +
                 'choice.form.tab.change:|choice.first.frm:|'                  +
                 'choice.next.frm:|choice.prev.frm:|choice.last.frm:|'         +
                 'choice.resize.frm:|choice.cmd.options:|'                     +
                 'choice.zoom:|choice.interrupt:|choice.end.program:|'         +
                 'choice.abort.program:|choice.text.manager:|'			           +
                 'choice.run.job:|choice.global.delete:|'				               +
                 'choice.global.copy:|choice.save.defaults:|'			             +
                 'choice.get.defaults:|choice.start.chart:|'                   +
                 'choice.start.query:|choice.ask.helpinfo:|'                   +
                 'choice.calculator:|choice.calendar:|choice.bms:|'            +
                 'choice.cmd.whats.this:|choice.help.index:|'                  +
                 'choice.restart.input:|choice.cont.process:|'                 +
                 'choice.user.[0-9]{1,2}[\\:]{1}|cont.process[\\:]{0,1}|'      +
                 'choice.user.[0-9]{1,2}|first.frm[\\:]{0,1}|'                 +
                 'create.job[\\:]{0,1}|declaration:|header|'                   +
                 'def.find[\\:]{0,1}|detail.|domain.error:|'                   +
                 'dupl.occur[\\:]{0,1}|end.program[\\:]{0,1}|'                 +
                 'f:|field.|field.all:|field.help:|'                           +
                 'field.other:|find.data[\\:]{0,1}|'                           +
                 'first.set[\\:]{0,1}|first.view[\\:]{0,1}|footer|'            +
                 'form.all:|form.other:|functions:|'                           +
                 'global.copy[\\:]{0,1}|get.defaults[\\:]{0,1}|'               +
                 'global.delete[\\:]{0,1}|help.index[\\:]{0,1}|'               +
                 'init.field:|init.form:|interrupt[\\:]{0,1}|'                 +
                 'last.frm[\\:]{0,1}|last.set[\\:]{0,1}|'                      +
                 'last.view[\\:]{0,1}|main.table.io:|'                         +
                 'make.resident[\\:]{0,1}|mark.delete[\\:]{0,1}|'              +
                 'mark.occur[\\:]{0,1}|modify.set[\\:]{0,1}|'                  +
                 'next.frm[\\:]{0,1}|next.halfset[\\:]{0,1}|'                  +
                 'next.set[\\:]{0,1}|next.view[\\:]{0,1}|on.choice:|'          +
                 'on.entry:|on.error:|on.exit:|on.input:|'                     +
                 'options[\\:]{0,1}|prev.frm[\\:]{0,1}|ref.display:|'          +
                 'prev.halfset[\\:]{0,1}|prev.set[\\:]{0,1}|'                  +
                 'prev.view[\\:]{0,1}|print.data[\\:]{0,1}|'                   +
                 'read.view:|recover.set[\\:]{0,1}|ref.input:|'                +
                 'resize.frm[\\:]{0,1}|restart.input[\\:]{0,1}|'               +
                 'run.job[\\:]{0,1}|save.defaults[\\:]{0,1}|'                  +
                 'screendump[\\:]{0,1}|set.tabstops[\\:]{0,1}|'                +
                 'start.query[\\:]{0,1}|start.set[\\:]{0,1}|'                  +
                 'text.manager[\\:]{0,1}|to.shell[\\:]{0,1}|'                  +
                 'update.db[\\:]{0,1}|user.[0-9]{1,2}[\\:]{1}|'                +
                 'user.[0-9]{1,2}|'                                            +
                 'when.field.changes:|z:|zoom.from.all:|'                      +
                 'zoom.from.other:|zoom.from.|zoom[\\:])'                      +
                 '(?=\\s|$)'

    'captures':
        '1':
            'name': 'storage.type.function.baan'
  }
  #Keywords 2
  {
    'match': '(?<=\\s|^)'                                                      +
             '(prepared|as|and|at|base|based|break|'                           +
             'default|db.retry|desc|else|extern|endif|'                        +
             'between|boolean|case|const|continue|'		                         +
             'endselect|endfor|endcase|endwhile|'                              +
             'from|function|fixed|goto|group|having|'                          +
             'if|inrange|local|not|order|on|or|'                               +
             'rowse|refers|retry|static|'                                      +
             'selectempty|selecteos|set|sum|then|to|'                          +
             'until|update|void|while|where|with|by|'                          +
             'common|for|hint|repeat|selectdo|table|'                          +
             'select|wherebind)'                                               +
             '(?=\\s|$)'

    'captures':
        '1':
            'name': 'storage.type.function.baan'
  }

  #Keywords 3
  {

		    'match':  '(?<=\\s|^)'                                                 +
                  '(start.|d.child|.with.child|start.session|'                 +
				          'enable.commands|abort|abort.io|'					                   +
        				  'abort.transaction|abs|acos|act.and.sleep|'                  +
          				'activate|activate.search|after.commit.transaction|'         +
          				'after.destroy.object|after.get.object|'                     +
          				'after.save.object|alloc.mem|appl.delete|'                   +
          				'appl.modify|appl.set|argc|argv|asc|asin|'                   +
          				'ask.enum|at.base|atan|audit|functions|'                     +
          				'aux.close|aux.open|aux.print|appl.delete|'                  +
          				'appl.get.user|appl.modify|appl.set|bc|'                     +
          				'before.destroy.object|before.get.object|'                   +
          				'before.open.object.set|before.save.object|bell|'            +
          				'bg|bit.and|bit.exor|bit.in|bit.inv|'                        +
          				'bit.or|bit.shiftl|bit.shiftr|blank.all|'                    +
          				'blue.component|bms.add.mask|bms.del.mask|'                  +
          				'bms.receive.buffer|bms.receive|bms.send|box|'               +
          				'brp.close|brp.open|brp.open.language|brp.ready|'            +
          				'bs|bshell.pid|bse.dir|bse.release|'                         +
          				'bse.tmp.dir|cf|change.mwindow|change.object|'               +
          				'change.password|change.progress.indicator|'                 +
          				'change.sub.object|change.window|changed|'                   +
          				'check.all.input|chm.axis.in|chm.axis.out|'                  +
          				'chm.chartman|chm.data2domain.in|chm.data.in|'               +
          				'chm.delete.data2domains|chm.delete.data|'                   +
          				'chm.delete.footnotes|chm.delete.projections|'               +
          				'chm.delete.sets|chm.disconnect|chm.domain.in|'              +
          				'chm.domain.out|chm.draw|chm.first.data2domain.out|'         +
          				'chm.first.data.out|chm.first.footnote.out|'                 +
          				'chm.first.projection.out|chm.first.set.out|'                +
          				'chm.footnote.in|chm.get.request|'                           +
          				'chm.next.data2domain.out|chm.next.data.out|'                +
          				'chm.next.footnote.out|chm.next.projection.out|'             +
          				'chm.next.set.out|chm.new|chm.open|'                         +
          				'chm.projection.in|chm.remove|chm.scale.axis|'               +
          				'chm.select|chm.set.in|chm.set.option|'                      +
          				'chm.set.timer|chm.title.in|chm.title.out|'                  +
          				'choice.again|choice.report|chr|cl.screen|'                  +
          				'clean.mess|close.message|cmp.mem|'                          +
          				'commit.transaction|compnr.check|compress.pixmap|'           +
          				'concat|copy.mem|cos|cosh|cp|cr|'                            +
          				'create.local.directory|create.mwindow|create.node|'         +
          				'create.object|create.progress.indicator|'                   +
          				'create.sub.object|create.sub.object.by.id|'                 +
          				'creat.tmp.file|create.tree.button|create.tree|'             +
          				'cs$|current.display|current.mwindow|'                       +
          				'current.window|d.expr|dal.count.error.messages|'            +
          				'dal.save.object|dal.new.object|dal.get.object|'             +
          				'dal.change.object|dal.set.field|dal.destroy|'               +
          				'dal.get.error.message|dal.get.first.error.message|'         +
          				'dal.new|dal.reset.error.messages|'                          +
          				'dal.set.error.message|dal.start.business.method|'           +
          				'dal.update|data.input|date.num|date.time.utc|'              +
          				'date.to.inputstr|date.to.num|db.bind|'                      +
          				'db.change.order|db.check.restricted|'                       +
          				'db.check.row.changed|db.check.row.domains|'                 +
          				'db.clear.table|db.columns.to.record|chm[\\:]{0,1}|'         +
          				'db.create.table|db.curr|db.delete|db.drop.table|'           +
          				'db.eq|db.error|db.error.message|db.first|'                  +
          				'db.ge|db.gt|db.indexinfo|db.insert|db.last|'                +
          				'db.le|db.lock.table|db.lt|db.next|'                         +
          				'db.nr.indices|db.nr.rows|db.permission|db.prev|'            +
          				'db.record.to.columns|db.ref.handle.mode|'                   +
          				'db.retry.point|db.retry.hit|db.row.length|'                 +
          				'db.set.to.default|db.unbind|db.update|dec|'                 +
          				'decompress.pixmap|del.window|delch$|deleteln|'              +
                  'destroy.mwindow|destroy.object|'				                     +
        				  'destroy.progress.indicator|destroy.sub.object|'             +
        				  'destroy.tree|disable.commands|disable.fields|'              +
        				  'disable.group|display|display.all|'                         +
        				  'display.curr.occ|display.fld|display.occ|'                  +
        				  'dir.select.dialog.local|do.all.occ|do.occ|'                 +
        				  'do.occ.without.update|double.cmp|dte|'                      +
        				  'dump.window|edit|el|enable.fields|end|'                     +
        				  'enum.descr|es|etol|exec_dll_function|'                      +
        				  'exec_function|execute|exit|exp|export|'                     +
        				  'expr.compile|expr.free|ff|fg|file.cp|'                      +
        				  'file.rm|file.stat|first.window|form.text|'                  +
        				  'format.round|free.mem|fs|fstat.info|'                       +
        				  'get.arg.type|get.argc|get.col|get.company|'                 +
        				  'get.compnr|get.cp|get.display.data|'                        +
        				  'get.double.arg|get_function|get.indexed.var|'               +
        				  'get.long.arg|get.mwindow.attrs|get.mwindow.mode|'           +
        				  'get.mwindow.size|get.object|get.pgrp|'                      +
        				  'get.pixmap.info|get.resource|get.row|'                      +
        				  'get.sub.object|get.screen.defaults|get.string.arg|'         +
        				  'get.tree.default|get.tree.node.dpress|'                     +
        				  'get.tree.node.press|get.tree.push.button|get.var|'          +
        				  'get.window.attrs|getenv|grab.mwindow|'                      +
        				  'green.component|hostname|import|inc|'                       +
        				  'input|input.again|inputstr.to.date|'                        +
        				  'inputfield.invisible|inputfield.visible|insch|'             +
        				  'insertln|int|is.field.invisible|is.option.on|'              +
        				  'isdigit|isspace|keyin|kill|kill.pgrp|'                      +
        				  'kill.timer|l.expr|last.window|layout.again|'                +
        				  'len|len.in.bytes|lf|load.byte|load_dll|'                    +
        				  'load.double|load.float|load.long|load.short|'               +
        				  'local.to.utc|log|log10|lower.object|lpow|'                  +
        				  'ltoe|lval|make.current|map.object|map.window|'              +
                  'mark.handler|mark.occ|max|mb.cast|'		                     +
        				  'mb.cast.to.str|mb.char|mb.char.info|'                       +
        				  'mb.display|mb.export|mb.hasbidi|'                           +
        				  'mb.import|mb.isbidi|mb.isbidi.language|'                    +
        				  'mb.kb.lang|mb.locale.info|mb.localename|'                   +
        				  'mb.long.to.str|mb.nsets|mb.rev|mb.scrpos|'                  +
        				  'mb.set.info|mb.strpos|mb.type|mb.width|mess|'               +
        				  'message|method.is.allowed|min|mkdir|'                       +
        				  'move.window|new.window|next.event|no.scroll|'               +
        				  'not.curr|not.fixed|num.to.date|num.to.date|'                +
        				  'num.to.week|off.change.check|on.change.check|'              +
        				  'on.main.table|on.old.occ|open.message|ostype|'              +
        				  'parse_and_exec_function|pathname\\&|path.combine|'          +
        				  'path.filename|path.change.extension|'                       +
        				  'path.filename.without.extension|path.extension|'            +
        				  'path.directory|pc|pcm.activate.session|'                    +
        				  'pcm.change.object|pcm.change|pcm.create.object|'            +
        				  'pcm.create|pcm.destroy.object|pcm.destroy|'                 +
        				  'pcm.get.data|pcm.lock|pcm.refresh|'                         +
        				  'pcm.send.event|peek.event|pending.events|'                  +
        				  'pf|pid|pipe.clearerr|pipe.close|pipe.eof|'                  +
        				  'pipe.error|pipe.flush|pipe.gets|pipe.open|'                 +
        				  'pipe.puts|pipe.read|pipe.write|pos|pow|'                    +
        				  'print.const|put.double.arg|put.indexed.var|'                +
        				  'put.long.arg|put.string.arg|put.var|qss.search|'            +
        				  'qss.sort|query.extend.select|'                              +
        				  'query.extend.select.in.zoom|query.extend.from|'             +
        				  'query.extend.from.in.zoom|query.extend.where|'              +
        				  'query.extend.where.in.zoom|query.object|'                   +
        				  'raise.object|random|rdi.audit.hosts|'                       +
        				  'rdi.column.combined|rdi.column|'                            +
        				  'rdi.date.input.format|rdi.domain.byte|'                     +
        				  'rdi.domain.combined|rdi.domain.date|'                       +
        				  'rdi.domain.double|rdi.domain.enum|'                         +
        				  'rdi.domain.enum.value|rdi.domain.float|'                    +
        				  'rdi.domain.integer|rdi.domain.long|'                        +
        				  'rdi.domain.mail|rdi.domain.set|rdi.domain.string|'          +
        				  'rdi.domain.set.value|rdi.domain.text|rdi.domain|'           +
        				  'rdi.first.day.of.week|rdi.index|rdi.reference|'             +
        				  'rdi.table|rdi.table.column|reactivate|'                     +
        				  'receive.bucket|recv.message|red.component|'                 +
        				  'refresh|refresh.curr.occ|remove.mark|'                      +
        				  'resize.window|restore.rcd.main|return|rgb|'                 +
        				  'rnd.d|rnd.i|rnd.init|round|rpos|'                           +
        				  'rprt_close|rprt_open|rprt_send|rsc.boolean|'                +
        				  'rsc.double|rsc.enum|rsc.font.spec|rsc.get|'                 +
        				  'rsc.long|rsc.put|rsc.reload|rsc.setboolean|'                +
        				  'rsc.setdouble|rsc.setenum|rsc.setlong|'                     +
        				  'rsc.setstring|rsc.string|s.expr|scroll|'                    +
        				  'select.event.input|send.bucket|send.event|'                 +
                  'send.message|send.wait|server2client|'                      +
        				  'seq.clearerr|seq.close|seq.eof|seq.error|'                  +
        				  'seq.flush|seq.getc|seq.gets|seq.is.locked|'                 +
        				  'seq.lock|seq.open|seq.putc|'                                +
        				  'seq.open.dialog.local|seq.puts|seq.read|'                   +
        				  'seq.rewind|seq.seek|seq.skip|seq.tell|'                     +
        				  'seq.ungetc|seq.unlink|seq.unlock|seq.write|'                +
        				  'set.alarm|set.bg.color|set.bitset.values|'                  +
        				  'set.enum.values|set.enum.values.for.field|'                 +
        				  'set.fg.color|set.fields.default|set.fmax|'                  +
        				  'set.fmin|set.focus|set.input.error|'                        +
        				  'set.limits.off|set.max|set.mem|set.min|'                    +
        				  'set.mwindow.mode|set.mwindow.size|'                         +
        				  'set.mwindow.title|set.node.class.color|'                    +
        				  'set.node.class|set.pgrp|set.sensitive|set.|'                +
        				  'd.dialog|set.timer|set.tree.background|'                    +
        				  'set.tree.font|set.tree.foreground|'                         +
        				  'set.tree.linewidth|set.tree.name|'                          +
        				  'set.transaction.readonly|sf|shell|shiftc|'                  +
        				  'shiftl|shiftr|signal|sin|sinh|'                             +
        				  'skip.io|sleep|spool.buf|spool.close|'                       +
        				  'spool.line|spool.open|sprintf|sql.break|'                   +
        				  'sql.close|sql.exec|sql.fetch|sql.parse|'                    +
        				  'sql.select.bind|sql.where.bind|sqrt|srand|'                 +
        				  'start.application.local|stat.info|status.del|'              +
        				  'status.field|status.mess|status.off|status.on|'             +
        				  'stop|store.byte|store.double|store.float|'                  +
        				  'store.long|store.occ.max|store.occ.min|'                    +
        				  'store.short|stp.reset.value|str|string.scan|'               +
        				  'string.set|strip|sub.window|suspend|'                       +
        				  'switch.to.company|switch.to.process|tab|'                   +
        				  'table.round|tan|tanh|text.copy|'                            +
        				  'text.copy.language|text.copy.between.companies|'            +
        				  'text.defaults|text.delete|text.edit|'                       +
        				  'text.present.in.language|text.read|text.rewrite|'           +
        				  'text.to.buf|text.window|text.write|time.num|'               +
        				  'times.off|times.on|trim|to.field|to.form|'                  +
        				  'to.key|tolower|toupper|'                                    +
        				  'tt.bobject.desc|tt.chm.appl.desc|'                          +
        				  'tt.chm.chart|tt.chm.charttype|tt.company|'                  +
        				  'tt.device|tt.field.desc|tt.index.desc|'                     +
        				  'tt.library|tt.menu.desc|tt.menu.present|'                   +
        				  'tt.reportgroup.exists|tt.session.desc|'                     +
        				  'tt.session.permission|tt.session.present|'                  +
        				  'tt.short.field.desc|tt.table.desc|tt.user|'                 +
        				  'ttyname|unmap.object|unmap.window|'                         +
        				  'update.object|update.occ|utc.num|'                          +
        				  'user.exists&#x000D;&#x000A;utc.to.local|iso.to.utc|'        +
        				  'utc.to.iso|val|view.tree|vsprintf|wait|'                    +
        				  'wait.and.activate|wait.for.switch|week.to.num|'             +
        				  'with.object.set.do|wrebuild|zoom.to|'                       +
                  'tt.chm.application|tt.align.according.domain|'              +
                  'tt.report.desc|tt.currency|tt.language|ttyname|'            +
                  'unset.focus|uuid.generate)'                                 +
                  '(?=\\s|$)'

    'captures':
        '1':
            'name': 'storage.type.function.baan'
  }

  #Keywords 4
  {
        'match': '(?<=\\s|^)'                                                  +
                 '(empty|false|true|actual.occ|attr.bitset.mask|'              +
      				   'attr.cf|attr.color|attr.currkey|attr.dbase|'                 +
      				   'attr.dbmaxlen|ttr.deflt|attr.descr|'                         +
      				   'attr.diga|attr.digv|attr.dorp|attr.echo|'                    +
      				   'attr.element|attr.enum.mask|attr.helpfile|'                  +
      				   'attr.inpfld|attr.input|attr.maxlen|'                         +
      				   'attr.message|attr.minlen|attr.multioccur|'                   +
      				   'attr.nowait|attr.oformat|attr.permission|'                   +
      				   'attr.previous|attr.reallen|attr.tab|'                        +
      				   'attr.textcol|attr.textfield|attr.textkw1|'                   +
      				   'attr.textkw4|attr.textlang|attr.textline|'                   +
      				   'attr.textmaxlines|attr.textmode|attr.textstart|'             +
      				   'attr.textzoomsession|attr.zoomcode|'                         +
      				   'attr.zoomreturn|attr.zoomsession|'                           +
      			  	 'auto.nextform|background|before.update.check|'               +
      				   'chm.name|chm.owner|chm.title|chm.user|'                      +
      				   'choice|curr.key|curr.pacc|date|date|'                        +
      				   'e|error.bypass|exit.val|fattr.col|'                          +
      				   'fattr.currfld|fattr.descr|'                                  +
      				   'fattr.firstfld|fattr.ftype|fattr.height|'                    +
      				   'fattr.helpfile|fattr.nextfld|fattr.occurnr|'                 +
      				   'fattr.prevfld|fattr.row|fattr.scrollbar|'                    +
      				   'fattr.toplines|fattr.vdate|fattr.version|'                   +
      				   'fattr.width|filename|filled.occ|form.curr|'                  +
      				   'form.next|form.prev|free|graphical.mode|'                    +
      				   'ignore.first.event|in.ret|job.device|'                       +
      				   'job.device.requested|job.process|'                           +
      				   'job.process.error|job.skip.date.question|'                   +
      				   'language|logname|main.table|'                                +
      				   'mark.status|marked|max.formtabs|maxdouble|'                  +
      				   'number.forms|parent|pid|previous.choice|'                    +
      				   'procesinfo|prog.name|query.extension|'                       +
      				   'reportgrp|reportno|sattr.combined|'                          +
      				   'stp.abort.error|stp.check.input.error|'                      +
      				   'stp.skip.error|term|time|update.status|'                     +
      				   'user.type|zoomfield|zoomreturn|'                             +
      				   'spool.device|spool.fileout|spool.id|'                        +
      				   'spool.left.mrg|spool.report|spool.paper.type|'               +
      				   'spool.pg.length|spool.pg.width|'                             +
      				   'spool.pr.copies|spool.pr.line|'                              +
      				   'spool.view.rtl|spool.time)'                                  +
                 '(?=\\s|$)'
    'captures':
        '1':
            'name': 'storage.type.function.baan'
  }
]
