# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Toggle BaaN Functions'
      'command': 'language-baan:toggle'
    }
  ]
'menu': [
  {
    'label': 'View'
    'submenu': [
      {'label': 'Toggle BaaN Functions', 'command': 'language-baan:toggle'}
    ]
  }
]
